html, body {
  height: 100%;
  margin: 0;
  color: aliceblue;
}

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}

td, th {
  padding: 10px;
}

#root {
  height: 100%;
}

.badge {
  background-color: rgb(36, 36, 36);
  margin          : 5px;
  border-radius   : 300px;
  padding-right   : 10px;
  padding-left    : 10px;
  display: inline-block;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.link_router
{
  margin         : 10px;
  color          : #343434;
  text-decoration: none;
  font-size      : 20px;
}

.link_router:hover
{
  color          : #cacaca;

}

.element_spacer
{
  width : 25px;
  height: 25px;
}

hr
{
  border-style: solid;
  border-color: #343434;
}

#Tooltip
{
  pointer-events: none;
}

table {
  width: 100%;
}

.rounded_input
{
  width           : 50%;
  /* height          : 30px; */
  font-size: 20px;
  background-color: #343434;
  border          : None;
  color           : white;
  padding         : 5px;
}

.display_hidden { display:none; }

.display_flex { display: flex; }



.background_grid_50
{
    /* background-color: #0e0e0e; */
    /* opacity: 0.4; */
    /* background-image: radial-gradient(#343434 1px, #0e0e0e 1px); */
    /* background-size: 50px 50px; */
    /* background-size: 25px 25px; */
    /* background-position: 25px 25px; */
    /* background-position: 12.5px 12.5px; */
}

.Navigation_bar
{
  height          : 50px;
  background-color: #0e0e0e;
  border-color    : #343434;
  /* border-width    : 1px;
  border-style    : solid; */
  display: flex;

}